In [1]:
from geotext import GeoText
import numpy as np
import pandas as pd
import re

import spacy

nlp = spacy.load("en_core_web_sm")

def get_cities_countries(c_list):
    '''
    return a string of comma separated of list
    '''
    cc_l = np.nan
    if len(c_list) > 0:
        cc_l = ''
        for c_ in c_list:
            cc_l +=c_+','
        cc_l = cc_l.strip(',')
    return cc_l

def get_df_countries_cities(filename):
    
    all_list = []

    file = open(filename, 'r')
    for line in file.readlines():
        line = line.strip()
        
        entities = nlp(line)
        
        cities_countries = [ent.text for ent in entities.ents if ent.label_=='GPE']
   
        countries = []
        cities = []
        for ci_cou in cities_countries:
            places = GeoText(ci_cou)
            
            if len(places.countries)>0:
                countries.append(ci_cou)
                
            if len(places.cities)>0:
                cities.append(ci_cou)
            
        

        countries = get_cities_countries(countries)

        cities = get_cities_countries(cities)



        all_list.append({'headline': line, 'countries':countries, 'cities': cities})



    file.close()

    return pd.DataFrame(all_list)

get_df_countries_cities("headlines.txt")

,headline,countries,cities
0,Zika Outbreak Hits Miami,NaN,Miami
1,Could Zika Reach New York City?,NaN,New York City
2,First Case of Zika in Miami Beach,NaN,Miami Beach
3,"Mystery Virus Spreads in Recife, Brazil",Brazil,Recife
4,Dallas man comes down with case of Zika,NaN,Dallas
...,...,...,...
645,Rumors about Rabies spreading in Jerusalem hav...,NaN,Jerusalem
646,More Zika patients reported in Indang,NaN,NaN
647,Suva authorities confirmed the spread of Rotav...,NaN,Suva
648,More Zika patients reported in Bella Vista,NaN,NaN
649,Zika Outbreak in Wichita Falls,NaN,NaN